version: '2'
networks:
 kafka-net:
  #  name: kafka-net
   driver: bridge

services:
  jenkins:
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=${DB_USERNAME}
      - DB_NAME=student
      - DB_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=cache
    build: 
      context: ./
      dockerfile: Dockerfile
    ports:
      - "8099:8099"
    restart: on-failure:10
    networks:
      - kafka-net